:root {
  /* Set font-size to Base-10 from Base-16 (1rem = 10px, 1.6rem = 16px) */
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  font-size: 100%;
  background: transparent;
  vertical-align: baseline;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  min-height: 100vh;
}

body {
  font-family: sans-serif;
  line-height: 1.618; /* the golden ratio */
  text-rendering: optimizeSpeed;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Set cursor clickable elements */
a,
button,
input[type="submit"],
input[type="checkbox"],
input[type="radio"],
select {
  cursor: pointer;
}

/* Remove list styles on elements with a list role */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* Reduce motion */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
